/******File: main.css******/

ul {
    list-style: none;
}

.list-menu{
    width:95%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    padding-top: -30px
    
}



.list-menu li {
    border-radius: 10px;
    border: solid lightblue 1px;
    margin-left: -40px;
    margin-bottom: 10px;
   /** background-color: lightblue;**/
    height: 100px;
    /**border-bottom: grey 3px;**/
   
}

.list-item-name {
    padding-left: 20px;
    font-size: 2em;
    
}

h2 {
    font-size: 1.1em;
    display: inline-block;
}

.header {
    font-size: 1.4em;
    font-family: Arial, sans-serif;
    text-align: center;
}

.year {
    float: right;
    font-family: Arial, sans-serif;
    font-style: italic;
    margin: 14px 20px;
}

form {
    padding: 8px 0px;
    width: 100%;
    margin: 50px auto;
    
}
form > input,
form > button,
form > textarea {
    display: block;
    width: 70%;
    margin-left: 145px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 3.0em; 
    height: 80px
}

form > button {
    background-color: green;
    font-size: 2.6em;
    color: white;
    
}



.nav-menu {
    border-radius: 10px;
    border: dashed black 2px;
    width: 95%;
    margin: 0 auto;
    list-style-type: none;
    font-size: 1.3em;
    font-family: Helvetica, sans-serif;
    background-color: lightblue;
    color: cornsilk;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-menu li {
    display: inline-block;
    width: 48%;
    text-align: center;
    color: cornsilk
}

.menu-item-link a, a:visited, a:link{
    color: black;
    text-decoration: none;
}

.bottle{
    z-index: 200;
    width: 100%;
    
}

.bottle-div{
    width: 100%;
    margin: 100px auto;    
}

.item-header{
    text-align: center;
    
}

.item-add{
    float: right;
    margin-right: 5px;
    
}

.back{
    float: left;
    margin-left: 5px;
    
}

